@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
    background-color: #002E73;
}

header {
    font-family: Garamond;
    font-weight: bold;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(250,250,250);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

header > img {
    width: 10em;
    border-radius: 100%;
}

header > h1{
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 36pt;
}

header > hr{
    min-width: 7em;
}

header > sub{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10pt;
    color: #002E73;
    background-color: white;
    padding: 1em;
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: auto;
    padding: 4em;
    max-width: 33em;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

ul > li{
    font-family: "Inter", sans-serif;
    margin: 1em 0;
}

ul > li > a{
    background-color: #fffa;
    border-radius: 10em;
    backdrop-filter: blur(15px) saturate(160%);
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: #fff;
    backdrop-filter: 0;
}

#background-animation{
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
}
